body {
    margin: 0%;
    padding: 0%;
}

.cadastro {
    padding-top: 75px;
    padding-bottom: 82px;
     background-image: url(../imagens/gif\ cadastro2.gif);
     background-repeat: no-repeat;
     background-size: cover;
     height: 500px;
     width: 100%;
}


.container {
    padding-top: 30px;
    width: 25%;
    height: 250px;
    margin-top: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 3px black solid;
    background-color: rgba(0,0,0,0.7); 
    color: white;
    border-radius: 17px;
}

.container img{
    padding-bottom: 20px;
}

form {
    height: 300px;
}

label input {
    display:block;
    border-radius: 7px;
}
    
button {
    margin-top: 20px;
    background-color:green;
    border: none;
    width: 150px;
    text-align: center;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    height: 30px; 
    border-radius: 10px;
}