body {
  margin: 0%;
  padding: 0%;
}

.paralax {
    margin: 0px;
    /* The image used */
    background-image: url("../imagens/olimpiadas1.jpg");
        
    /* Set a specific height */
  height: 700px;
  
    /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.paralax img { 
    float: left;
    height: 270px;
    width: 500px;
    padding: 20px;
}

.olimpiadas img {
    height: auto;
    width: auto;
    padding: 10px;
}

.news1 {
    margin-top: 30%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 200px;
    width: 53%;
    float: right;
    margin-right: 50px;
    padding: 15px;
    border: 3px black solid;
    background-color: rgba(0,0,0,0.7); 
    color: white;
    border-radius: 17px;
}


.olimpiadas{
    height: 200px;
    width: 700px;
    float: right;
}

.faixa {
    background-color: black;
    height: 150px;
    width: 100%;
    padding-top: 20px;
    
}

.paralax2 {
    margin: 0px;
    /* The image used */
    background-image: url("../imagens/sls1.jpg");
        
    /* Set a specific height */
  height: 700px;
  
    /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gif_sls img {
    margin-top: 10%;
    float: right;
    height: 300px;
    width: 300px;
}

.news2 {
    margin-top: 29%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 217px;
    width: 50%;
    float: left;
    margin-left: 50px;
    padding: 15px;
    border: 3px black solid;
    background-color: rgba(0,0,0,0.7); 
    color: white;
    border-radius: 17px;
}

.curiosidade {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    height: 30px;
    width: 50%;
    margin-left: 300px;
    padding-bottom: 30px;
}

.paralax3 {
    margin: 0px;
    /* The image used */
    background-image: url("../imagens/xgames.jpg");
        
    /* Set a specific height */
  height: 700px;
  
    /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.news3 {
    margin-top: 29%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 270px;
    width: 70%;
    float: right;
    margin-right: 10px;
    padding: 15px;
    border: 3px black solid;
    background-color: rgba(0,0,0,0.7); 
    color: white;
    border-radius: 17px;
}

.curiosidade2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  height: 30px;
  width: 50%;
  margin-left: 300px;
  margin-bottom: 30px;
}

.paralax4 {
  margin: 0px;
  /* The image used */
  background-image: url("../imagens/downhil1.jpg");
      
  /* Set a specific height */
height: 700px;

  /* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.news4 {
  margin-top: 29%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 270px;
  width: 70%;
  float: right;
  margin-right: 10px;
  padding: 15px;
  border: 3px black solid;
  background-color: rgba(0,0,0,0.7); 
  color: white;
  border-radius: 17px;
}

.sair {
    
}