body {
 margin: 0px;
 padding: 0px;
}
.imagem{
    background-size: cover;
    height: 100vh;
    width: 100%;
    background: url("../imagens/skt4.png") no-repeat center center;
}
.header {
    height: 100px;
    width: 100%
}
.foto {
    height: 250px;
    width: 300px;
    margin-right: 590px; 
    float: right;
}
.historia {
    font-family: 'Share', cursive;
    height: 240px;
    width: 760px;
    float: left;
    margin-top: 118px;
    padding: 15px;
    border: 3px black solid;
    margin-left: 10px;
    background-color: rgba(0,0,0,0.7); 
    color: white;
}
.segunda {
    float: right ;
    margin-top: 30px;
    margin-right: 30px;
    height: 300px;
    width: 40%;
}

.lista {
    height: 50px;
    width: 20%;
    color: white;
    float: left;
}
.lista li {
    margin-top: 5px;
    list-style: none;
    padding: 20px; 
}
.lista li a {
    font-family: 'Anton', sans-serif;
    color: blue;
    text-decoration: none;
}

.skate-video {
    height: 345px;
    width: 100%;
    background: black;
}

.gif {
    height: 400px;
    width: 450px;
    margin-bottom: 200px;
    padding-bottom: 10px;
}
.fim {
    height: 100px;
    width: 100%;
    background: gray;
}
.made {
    font-family: 'Staatliches', cursive;
    height: 80px;
    width: 400px;
    padding-top: 4px;
    padding-left: 10px;
}
.made .fa {
    float: right;
    width: 70px;
    color: #000000;
    padding: 10px;
}
    
.footer {
    height: 212px;
    width: 100%;
    background: url("../imagens/footer.jpg") no-repeat center center;
}


